{% extends "basic.html" %}
{% load static %}

{% block head %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Add icon library -->
<link rel="stylesheet" href="{% static 'patient/signup_form/signup.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
<style>
  body {  		background-image: url('/static/homepage/assets/img/signup-patient.png');
  
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-signup100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 17px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrap-signup100 {
  width: 550px;
  height: 900px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

}
</style>   

{% endblock %}


{% block body %}

<body>

<div class="limiter">
  <div class="container-signup100">
    <div class="wrap-signup100 p-l-55 p-r-55 p-t-65 p-b-54">      

<form action='signup_patient' method="POST" style="max-height:500px; max-width:450px;  margin:auto;">
 
  <br>
 <h2></b><center> Sign-Up As Patient </center></b></h2>

  {% csrf_token %}
  
  <center>
      <div>
        {% for message in messages %}
        <div class="bg-info" role="info">
            <h3 style="color: white;">{{message}}</h3>
          </div>
        {% endfor %}
      </div>
      </center>

<br>

  <div class="input-container">
    <i class="fa fa-user icon"></i>
    <input class="input-field" type="text" placeholder="Username" name="username" required>
  </div>

  
  <div class="input-container">
    <i class="fa fa-user icon"></i>
    <input class="input-field" type="text" placeholder="Name" name="name" required>
  </div>

  <div class="input-container">
    <i class="fa fa-envelope icon"></i>
    <input class="input-field" type="text" placeholder="Email" name="email" required>
  </div>

  <div class="input-container">
    <i class="fa fa-calendar icon"></i>
    <p style="font-size:22px; margin:10px;"> Date of Birth: </p> &nbsp &nbsp <input class="input-field" type="date" placeholder="Date-of-birth" name="dob" style="width: 50%;" required>
  </div>

  <div class="input-container">
  <i class="fa fa-genderless icon" ></i>
    <input style="margin:10px;" class="radio-btn" type="radio" name="gender" value="male" checked> Male 
    <input style="margin:10px;" class="radio-btn" type="radio" name="gender" value="female"> Female
  </div>
  
  
  <div class="input-container">
    <i class="fa fa-address-book icon"></i>
    <input class="input-field" type="text" placeholder="Address" name="address" required>
  </div>
  <div class="input-container">
    <i class="fa fa-phone icon"></i>
    <input class="input-field" type="number" placeholder="Mobile" name="mobile" required>
  </div>
  
  <div class="input-container">
    <i class="fa fa-key icon"></i>
    <input class="input-field" type="password" placeholder="Password" name="password" required>
  </div>
  
  <div class="input-container">
    <i class="fa fa-check icon"></i>
    <input class="input-field" type="password" placeholder="Retype Password" name="password1" required>
  </div>

  <br>
  <button type="submit" class="btn btn-primary">Register</button>


  <br><br><br>
</form>

</div>
</div>
</div>

</body>

{% endblock %}
